<div id="page-content">
  <div class="container page-content" id="home-container">
    <div class="jumbotron">
      <h1 class="display-4">BaikaBlog</h1>
      <p class="lead" id="welcome-text">Welcome to BaikaBlog!</p>
      <hr class="my-4">
      <p id="welcome-text">We glad to see you!</p>
      <%= link_to 'Sign up', signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
