<footer id="sticky-footer" class="container py-4 bg-dark text-white">
  <div class="text-center">
    <small>Copyright &copy; <%= link_to "ArtTaganka", "https://arttaganka.ru", class: "text-white" %></small>
  </div>
</footer>